In [4]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score as acc_sc

In [5]:
foreign_df = pd.read_csv('./data/외국인 거주 연 기준.csv', encoding='cp949', sep='\t')
foreign_df.head()

      국적별    시점      계     남자     여자
0      몽골  2013   4331   2553   1778
1      미국  2013  26622  12833  13789
2     베트남  2013  22248   7811  14437
3    스리랑카  2013   5274   5064    210
4  우즈베키스탄  2013  12333   8283   4050

In [6]:
foreign_df.isna().sum()

국적별    1
시점     0
계      0
남자     0
여자     0
dtype: int64

In [7]:
# 결측값 제거
f_df1 = foreign_df.dropna()

In [8]:
f_df1.head()

      국적별    시점      계     남자     여자
0      몽골  2013   4331   2553   1778
1      미국  2013  26622  12833  13789
2     베트남  2013  22248   7811  14437
3    스리랑카  2013   5274   5064    210
4  우즈베키스탄  2013  12333   8283   4050

In [9]:
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

le = LabelEncoder()
f_df1['국적별'] = le.fit_transform(f_df1['국적별'])

f_df1.head(2)

   국적별    시점      계     남자     여자
0    0  2013   4331   2553   1778
1    1  2013  26622  12833  13789

In [10]:
# define X_ftr and y_target

y_tar = f_df1['계']
X_ftr = f_df1.drop('계', axis= 1)

In [11]:
## train_test_split 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_ftr, y_tar)

In [12]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error

In [13]:
# 학습
dt_reg = DecisionTreeRegressor()
dt_reg.fit(X_train,y_train)

y_pred = dt_reg.predict(X_test)
mae = mean_absolute_error(y_test,y_pred)

In [14]:
X_train.shape
X_test.shape

y_train.shape
y_test.shape

(21,)

In [15]:
y_pred.shape

(21,)

In [16]:
check_df = pd.DataFrame()
check_df['actual_y'] = y_test
check_df['pred_y'] = y_pred
check_df['diff'] = np.abs(check_df['actual_y']-check_df['pred_y'])

check_df.sort_values(by = ['diff'], ascending=False)[:10]

    actual_y    pred_y     diff
52     80349   55992.0  24357.0
43     71506   48326.0  23180.0
42    156848  177001.0  20153.0
33    165494  177001.0  11507.0
56     61344   53290.0   8054.0
51    169336  177001.0   7665.0
70      8693   16151.0   7458.0
58     25961   18818.0   7143.0
44      8988    2939.0   6049.0
36     11781   17462.0   5681.0

In [17]:
check_df['diff_percentage'] = check_df['diff']/check_df['actual_y'] * 100
check_df.sort_values(by=['diff_percentage'], ascending=False)[:10]

    actual_y   pred_y     diff  diff_percentage
70      8693  16151.0   7458.0        85.793167
44      8988   2939.0   6049.0        67.300846
36     11781  17462.0   5681.0        48.221713
43     71506  48326.0  23180.0        32.416860
67      8012   5462.0   2550.0        31.827259
22     14246   9867.0   4379.0        30.738453
52     80349  55992.0  24357.0        30.314005
58     25961  18818.0   7143.0        27.514348
76     13131  10053.0   3078.0        23.440713
56     61344  53290.0   8054.0        13.129238

In [18]:
# end of files