In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor

In [2]:
crime=pd.read_csv('./data/경기도 범죄별 범죄건수.csv', encoding='cp949')
crime

,범죄중분류,경기 고양,경기 과천,경기 광명,경기 광주,경기 구리,경기 군포,경기 김포,경기 남양주,경기 동두천,...,경기 오산,경기 용인,경기 의왕,경기 의정부,경기 이천,경기 파주,경기 평택,경기 포천,경기 하남,경기 화성
0,살인기수,8,2,1,4,0,1,2,5,0,...,2,7,0,0,3,3,1,4,1,7
1,살인미수등,9,0,1,8,3,1,3,6,3,...,2,5,0,7,2,4,6,3,0,8
2,강도,14,0,4,4,6,5,7,12,0,...,4,11,1,15,8,5,20,3,1,12
3,강간,73,0,12,25,22,26,33,50,6,...,23,53,8,67,23,29,50,17,11,32
4,유사강간,9,0,0,3,1,2,5,2,0,...,2,9,0,10,3,3,6,1,1,4
5,강제추행,256,20,77,49,73,67,75,132,36,...,81,209,30,157,59,89,161,47,25,133
6,기타강간강제추행등,7,0,2,2,3,0,2,9,0,...,2,7,0,6,4,2,4,3,0,2
7,방화,40,1,6,6,9,7,13,26,1,...,4,15,5,22,10,9,19,17,4,14
8,절도,3287,170,1234,1072,1042,944,1082,1888,410,...,1164,2791,307,2304,655,1136,2160,580,575,2178
9,상해,490,22,147,237,181,142,160,392,102,...,149,454,57,326,161,261,460,229,104,410
10,폭행,2268,118,1188,823,893,826,731,1573,422,...,826,1710,250,1901,668,1078,1636,566,378,1327
11,체포감금,15,1,4,5,4,2,4,15,4,...,7,13,3,9,2,2,9,3,2,10
12,협박,170,9,73,61,36,43,49,101,18,...,34,115,19,109,29,74,95,39,19,89
13,약취유인,3,0,0,2,2,0,0,6,0,...,1,5,0,1,9,9,3,2,0,1
14,폭력행위등,462,10,144,220,183,131,171,395,114,...,177,365,44,323,141,238,444,193,81,374
15,공갈,34,1,19,17,17,5,10,21,9,...,14,47,3,26,5,15,26,7,12,24
16,손괴,806,54,332,363,258,327,354,609,168,...,327,704,112,634,220,430,710,187,152,503
17,직무유기,10,1,1,2,2,0,1,6,0,...,1,3,2,2,0,1,1,1,0,6
18,직권남용,7,0,1,1,0,2,1,3,0,...,2,2,3,2,0,3,4,0,0,3
19,증수뢰,2,2,2,1,2,0,1,1,1,...,0,3,0,0,0,3,2,0,0,2
20,통화,36,6,11,10,9,3,6,19,6,...,1,22,2,26,1,8,24,4,9,6
21,문서인장,219,17,35,62,53,70,77,134,42,...,45,183,18,123,49,85,139,54,51,126
22,유가증권인지,12,1,2,4,4,1,3,3,1,...,2,0,0,3,0,8,2,1,1,5
23,사기,3861,168,1295,1355,1229,942,1075,1878,469,...,946,3312,354,2117,846,1888,2638,792,489,1968
24,횡령,1218,79,385,267,191,265,412,530,105,...,191,655,107,525,178,400,482,132,125,496
25,배임,76,6,6,40,11,21,31,50,4,...,7,74,9,17,19,48,36,19,15,62
26,성풍속범죄,288,24,46,38,104,46,72,77,23,...,44,156,20,126,27,71,163,16,25,97
27,도박범죄,108,1,34,42,22,33,52,53,13,...,13,63,14,39,28,34,52,19,50,53
28,특별경제범죄,1278,60,818,360,299,383,420,589,107,...,342,831,138,613,209,667,928,287,147,631
29,마약범죄,82,4,15,22,16,15,13,24,25,...,18,137,6,103,10,48,124,38,10,56
30,보건범죄,223,6,90,87,62,45,68,261,20,...,32,170,19,86,41,102,94,50,41,186
31,환경범죄,30,3,2,52,9,0,14,52,5,...,7,60,5,15,43,51,355,119,13,171
32,교통범죄,11926,720,2740,3660,2151,2121,3726,4795,954,...,2009,7716,1722,3670,2653,6218,7646,2677,2583,5902
33,노동범죄,13,0,6,13,2,4,4,6,0,...,1,5,0,5,0,5,29,2,1,15
34,안보범죄,1,0,1,0,0,0,0,0,0,...,0,2,0,0,0,0,0,1,0,0
35,선거범죄,4,1,3,0,2,0,3,0,0,...,0,8,1,0,9,11,8,0,0,6
36,병역범죄,360,10,61,170,71,53,50,312,44,...,104,235,34,188,71,142,156,105,36,225
37,기타범죄,3473,174,1138,1135,699,672,1205,2361,372,...,913,2304,305,1642,829,1355,2122,881,482,2058

In [3]:
#crime=crime.set_index('범죄중분류')
crime_df=crime.T
crime_df

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
범죄중분류,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타강간강제추행등,방화,절도,상해,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
경기 고양,8,9,14,73,9,256,7,40,3287,490,...,1278,82,223,30,11926,13,1,4,360,3473
경기 과천,2,0,0,0,0,20,0,1,170,22,...,60,4,6,3,720,0,0,1,10,174
경기 광명,1,1,4,12,0,77,2,6,1234,147,...,818,15,90,2,2740,6,1,3,61,1138
경기 광주,4,8,4,25,3,49,2,6,1072,237,...,360,22,87,52,3660,13,0,0,170,1135
경기 구리,0,3,6,22,1,73,3,9,1042,181,...,299,16,62,9,2151,2,0,2,71,699
경기 군포,1,1,5,26,2,67,0,7,944,142,...,383,15,45,0,2121,4,0,0,53,672
경기 김포,2,3,7,33,5,75,2,13,1082,160,...,420,13,68,14,3726,4,0,3,50,1205
경기 남양주,5,6,12,50,2,132,9,26,1888,392,...,589,24,261,52,4795,6,0,0,312,2361
경기 동두천,0,3,0,6,0,36,0,1,410,102,...,107,25,20,5,954,0,0,0,44,372
경기 부천,7,13,25,105,12,291,7,38,5048,524,...,1449,56,162,14,10467,21,2,0,355,3804
경기 성남,4,6,30,83,12,319,14,29,3941,734,...,1749,79,244,4,8900,9,2,2,362,3297
경기 수원,6,7,38,157,21,425,23,40,6487,938,...,1596,118,368,25,14715,28,3,2,433,4856
경기 시흥,9,6,14,36,5,171,6,25,1791,295,...,623,41,302,58,7830,5,0,3,228,1961
경기 안산,8,12,42,86,2,242,6,30,4154,694,...,1597,71,134,29,11372,26,2,1,332,3293
경기 안성,0,2,2,23,0,42,3,4,844,141,...,322,92,51,3,2490,3,0,7,101,939
경기 안양,2,6,7,52,4,180,4,12,2142,396,...,902,37,88,5,5909,34,2,3,201,1924
경기 양주,1,2,5,19,1,44,3,8,719,157,...,226,25,77,44,2547,5,0,1,137,847
경기 여주,1,3,5,13,0,17,2,2,417,130,...,108,114,22,4,1687,1,0,8,19,368
경기 오산,2,2,4,23,2,81,2,4,1164,149,...,342,18,32,7,2009,1,0,0,104,913
경기 용인,7,5,11,53,9,209,7,15,2791,454,...,831,137,170,60,7716,5,2,8,235,2304
경기 의왕,0,0,1,8,0,30,0,5,307,57,...,138,6,19,5,1722,0,0,1,34,305
경기 의정부,0,7,15,67,10,157,6,22,2304,326,...,613,103,86,15,3670,5,0,0,188,1642
경기 이천,3,2,8,23,3,59,4,10,655,161,...,209,10,41,43,2653,0,0,9,71,829
경기 파주,3,4,5,29,3,89,2,9,1136,261,...,667,48,102,51,6218,5,0,11,142,1355
경기 평택,1,6,20,50,6,161,4,19,2160,460,...,928,124,94,355,7646,29,0,8,156,2122
경기 포천,4,3,3,17,1,47,3,17,580,229,...,287,38,50,119,2677,2,1,0,105,881
경기 하남,1,0,1,11,1,25,0,4,575,104,...,147,10,41,13,2583,1,0,0,36,482
경기 화성,7,8,12,32,4,133,2,14,2178,410,...,631,56,186,171,5902,15,0,6,225,2058

In [4]:
crime_df['계']=crime_df.sum(axis=1)
crime_df

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,계
범죄중분류,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타강간강제추행등,방화,절도,상해,...,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄,살인기수살인미수등강도강간유사강간강제추행기타강간강제추행등방화절도상해폭행체포감금협박약취...
경기 고양,8,9,14,73,9,256,7,40,3287,490,...,82,223,30,11926,13,1,4,360,3473,31178
경기 과천,2,0,0,0,0,20,0,1,170,22,...,4,6,3,720,0,0,1,10,174,1691
경기 광명,1,1,4,12,0,77,2,6,1234,147,...,15,90,2,2740,6,1,3,61,1138,9936
경기 광주,4,8,4,25,3,49,2,6,1072,237,...,22,87,52,3660,13,0,0,170,1135,10222
경기 구리,0,3,6,22,1,73,3,9,1042,181,...,16,62,9,2151,2,0,2,71,699,7671
경기 군포,1,1,5,26,2,67,0,7,944,142,...,15,45,0,2121,4,0,0,53,672,7205
경기 김포,2,3,7,33,5,75,2,13,1082,160,...,13,68,14,3726,4,0,3,50,1205,9935
경기 남양주,5,6,12,50,2,132,9,26,1888,392,...,24,261,52,4795,6,0,0,312,2361,16396
경기 동두천,0,3,0,6,0,36,0,1,410,102,...,25,20,5,954,0,0,0,44,372,3484
경기 부천,7,13,25,105,12,291,7,38,5048,524,...,56,162,14,10467,21,2,0,355,3804,35173
경기 성남,4,6,30,83,12,319,14,29,3941,734,...,79,244,4,8900,9,2,2,362,3297,30862
경기 수원,6,7,38,157,21,425,23,40,6487,938,...,118,368,25,14715,28,3,2,433,4856,45531
경기 시흥,9,6,14,36,5,171,6,25,1791,295,...,41,302,58,7830,5,0,3,228,1961,19499
경기 안산,8,12,42,86,2,242,6,30,4154,694,...,71,134,29,11372,26,2,1,332,3293,33850
경기 안성,0,2,2,23,0,42,3,4,844,141,...,92,51,3,2490,3,0,7,101,939,7088
경기 안양,2,6,7,52,4,180,4,12,2142,396,...,37,88,5,5909,34,2,3,201,1924,18110
경기 양주,1,2,5,19,1,44,3,8,719,157,...,25,77,44,2547,5,0,1,137,847,7255
경기 여주,1,3,5,13,0,17,2,2,417,130,...,114,22,4,1687,1,0,8,19,368,4225
경기 오산,2,2,4,23,2,81,2,4,1164,149,...,18,32,7,2009,1,0,0,104,913,7497
경기 용인,7,5,11,53,9,209,7,15,2791,454,...,137,170,60,7716,5,2,8,235,2304,22461
경기 의왕,0,0,1,8,0,30,0,5,307,57,...,6,19,5,1722,0,0,1,34,305,3598
경기 의정부,0,7,15,67,10,157,6,22,2304,326,...,103,86,15,3670,5,0,0,188,1642,15219
경기 이천,3,2,8,23,3,59,4,10,655,161,...,10,41,43,2653,0,0,9,71,829,7015
경기 파주,3,4,5,29,3,89,2,9,1136,261,...,48,102,51,6218,5,0,11,142,1355,14535
경기 평택,1,6,20,50,6,161,4,19,2160,460,...,124,94,355,7646,29,0,8,156,2122,20815
경기 포천,4,3,3,17,1,47,3,17,580,229,...,38,50,119,2677,2,1,0,105,881,7099
경기 하남,1,0,1,11,1,25,0,4,575,104,...,10,41,13,2583,1,0,0,36,482,5444
경기 화성,7,8,12,32,4,133,2,14,2178,410,...,56,186,171,5902,15,0,6,225,2058,17202

In [15]:
crime_df = crime_df.reset_index()
new_crime_df=crime_df[['index', '계']].drop(0)
new_crime_df

    index      계
1       1  31178
2       2   1691
3       3   9936
4       4  10222
5       5   7671
6       6   7205
7       7   9935
8       8  16396
9       9   3484
10     10  35173
11     11  30862
12     12  45531
13     13  19499
14     14  33850
15     15   7088
16     16  18110
17     17   7255
18     18   4225
19     19   7497
20     20  22461
21     21   3598
22     22  15219
23     23   7015
24     24  14535
25     25  20815
26     26   7099
27     27   5444
28     28  17202

In [7]:
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

le=LabelEncoder()
new_crime_df['index']=le.fit_transform(new_crime_df['index'])
new_crime_df

    index      계
1       0  31178
2       1   1691
3       2   9936
4       3  10222
5       4   7671
6       5   7205
7       6   9935
8       7  16396
9       8   3484
10      9  35173
11     10  30862
12     11  45531
13     12  19499
14     13  33850
15     14   7088
16     15  18110
17     16   7255
18     17   4225
19     18   7497
20     19  22461
21     20   3598
22     21  15219
23     22   7015
24     23  14535
25     24  20815
26     25   7099
27     26   5444
28     27  17202

In [8]:
y_target=new_crime_df['계']
X_ftr=new_crime_df.drop('계', axis=1)

In [9]:
from sklearn.model_selection import  train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_squared_log_error
X_train, X_test, y_train, y_test=train_test_split(X_ftr, y_target)

In [10]:
# 학습
dt_reg = DecisionTreeRegressor()
dt_reg.fit(X_train,y_train)

y_pred = dt_reg.predict(X_test)
mae = mean_absolute_error(y_test,y_pred)

In [11]:
X_train.shape
X_test.shape


y_train.shape
y_test.shape

(7,)

In [12]:
y_pred.shape

(7,)

In [13]:
check_df=pd.DataFrame()
check_df['actual_y']=y_test
check_df['pred_y']=y_pred
check_df['diff']=np.abs(check_df['actual_y']-check_df['pred_y'])

check_df.sort_values(by=['diff'], ascending=False)

   actual_y   pred_y     diff
2      1691  31178.0  29487.0
12    45531  19499.0  26032.0
14    33850  19499.0  14351.0
26     7099  20815.0  13716.0
16    18110   7088.0  11022.0
11    30862  35173.0   4311.0
7      9935   7205.0   2730.0

In [14]:
check_df['diff_percentage'] = check_df['diff']/check_df['actual_y'] * 100
check_df.sort_values(by=['diff_percentage'], ascending=False)[:10]

   actual_y   pred_y     diff diff_percentage
2      1691  31178.0  29487.0     1743.761088
26     7099  20815.0  13716.0      193.210311
16    18110   7088.0  11022.0       60.861403
12    45531  19499.0  26032.0       57.174233
14    33850  19499.0  14351.0       42.395864
7      9935   7205.0   2730.0       27.478611
11    30862  35173.0   4311.0       13.968635