In [1]:
import numpy as np
import pandas as pd

In [2]:
state_df=pd.read_csv('./data/국적별_행정구역별 외국인 범죄 발생.csv')
state_df

,행정구역별(시도),연도,중국,중국(한국계),대만,일본,몽골,베트남,필리핀,태국,...,미얀마,스리랑카,파키스탄,방글라데시,네팔,우즈베키스탄,카자흐스탄,러시아,미국,캐나다
0,서울특별시,2016,"60,560","177,339","6,436","5,918","6,774","10,010","3,901","4,096",...,653,330,"1,194",695,"1,016","2,549","1,460","1,623","21,956","5,672"
1,부산광역시,2016,"10,426","4,409","1,123",857,456,"8,374","2,283","2,037",...,"1,054",934,544,324,733,"1,586",248,789,"2,118",614
2,대구광역시,2016,"5,165","3,566",576,377,340,"5,041","1,879","1,523",...,394,"1,059","1,004",558,681,"1,350",218,271,"1,610",345
3,인천광역시,2016,"10,272","22,383","1,919",717,"1,762","6,285","3,250","4,745",...,"1,765",854,"1,047","1,182","1,189","2,691",738,584,"2,104",608
4,광주광역시,2016,"5,240","2,440",249,330,358,"3,494","1,133","1,486",...,326,490,318,151,425,"1,911",420,259,729,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,전라북도,2020,"6,306","3,517",282,635,"1,348","10,612","1,336","6,533",...,845,841,250,450,"1,755","1,463",294,457,794,213
81,전라남도,2020,"3,740","3,714",110,766,771,"10,983","1,696","7,920",...,856,"2,665",98,142,"1,920","1,398",356,499,632,151
82,경상북도,2020,"5,904","6,508",259,629,"1,466","18,832","2,649","12,466",...,"1,199","1,789",637,616,"2,686","3,750","1,849",998,"1,418",240
83,경상남도,2020,"6,883","11,124",230,"1,063","1,270","19,719","3,430","15,004",...,"2,096","2,930",974,809,"3,342","6,090","1,908","1,903","1,668",318
84,제주특별자치도,2020,"7,154","3,033",292,221,420,"3,890",613,"2,917",...,228,793,79,118,"1,234",136,137,97,"1,604",288

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
state_df_processed=state_df.drop(['행정구역별(시도)','연도' ], axis=1)

In [5]:
state_df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   중국       85 non-null     object
 1   중국(한국계)  85 non-null     object
 2   대만       85 non-null     object
 3   일본       85 non-null     object
 4   몽골       85 non-null     object
 5   베트남      85 non-null     object
 6   필리핀      85 non-null     object
 7   태국       85 non-null     object
 8   인도네시아    85 non-null     object
 9   캄보디아     85 non-null     object
 10  미얀마      85 non-null     object
 11  스리랑카     85 non-null     object
 12  파키스탄     85 non-null     object
 13  방글라데시    85 non-null     object
 14  네팔       85 non-null     object
 15  우즈베키스탄   85 non-null     object
 16  카자흐스탄    85 non-null     object
 17  러시아      85 non-null     object
 18  미국       85 non-null     object
 19  캐나다      85 non-null     object
dtypes: object(20)
memory usage: 13.4+ KB

In [6]:
countries=['중국', '중국(한국계)', '대만','일본', '몽골','베트남','필리핀','태국','인도네시아','캄보디아','미얀마','스리랑카','파키스탄','방글라데시','네팔','우즈베키스탄','카자흐스탄','러시아','미국','캐나다']
for country in countries:
    state_df_processed[country]=state_df_processed[country].apply(lambda x:int(x.replace(',','')))

In [7]:
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import *

In [8]:
state_df_processed

,중국,중국(한국계),대만,일본,몽골,베트남,필리핀,태국,인도네시아,캄보디아,미얀마,스리랑카,파키스탄,방글라데시,네팔,우즈베키스탄,카자흐스탄,러시아,미국,캐나다
0,60560,177339,6436,5918,6774,10010,3901,4096,981,997,653,330,1194,695,1016,2549,1460,1623,21956,5672
1,10426,4409,1123,857,456,8374,2283,2037,2747,1251,1054,934,544,324,733,1586,248,789,2118,614
2,5165,3566,576,377,340,5041,1879,1523,1902,929,394,1059,1004,558,681,1350,218,271,1610,345
3,10272,22383,1919,717,1762,6285,3250,4745,2179,1302,1765,854,1047,1182,1189,2691,738,584,2104,608
4,5240,2440,249,330,358,3494,1133,1486,761,1080,326,490,318,151,425,1911,420,259,729,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,6306,3517,282,635,1348,10612,1336,6533,925,1868,845,841,250,450,1755,1463,294,457,794,213
81,3740,3714,110,766,771,10983,1696,7920,2338,2650,856,2665,98,142,1920,1398,356,499,632,151
82,5904,6508,259,629,1466,18832,2649,12466,3847,2869,1199,1789,637,616,2686,3750,1849,998,1418,240
83,6883,11124,230,1063,1270,19719,3430,15004,6074,4204,2096,2930,974,809,3342,6090,1908,1903,1668,318
84,7154,3033,292,221,420,3890,613,2917,1812,425,228,793,79,118,1234,136,137,97,1604,288