In [12]:
import numpy as np
import pandas as pd

In [13]:
state_df=pd.read_csv('./data/국적별_행정구역별 외국인 범죄 발생_최종.csv')
state_df.head()

,행정구역별(시도),연도,내국인,국적가진 외국인,국적 없는 외국인,중국,중국(한국계),대만,일본,몽골,...,기타 강간·강제추행등,방화,상해,폭행,체포・감금,협박,약취・유인,폭력행위등,공갈,손괴
0,서울특별시,2016,9470339,"404,037","335,167","60,560","177,339","6,436","5,918","6,774",...,72,286,6949,39337,268,3036,35,2615,694,11667
1,부산광역시,2016,3394316,"59,872","46,168","10,426","4,409","1,123",857,456,...,30,98,4637,9749,77,1031,20,1052,416,3462
2,대구광역시,2016,2841151,"40,251","30,492","5,165","3,566",576,377,340,...,14,68,2863,7457,47,600,8,534,192,2856
3,인천광역시,2016,2430510,"94,670","71,873","10,272","22,383","1,919",717,"1,762",...,27,84,2289,11762,132,870,10,899,255,3664
4,광주광역시,2016,1515758,"31,162","23,701","5,240","2,440",249,330,358,...,15,38,1309,4797,43,400,8,389,114,1550

In [14]:
state_df.columns

Index(['행정구역별(시도)', '연도', '내국인', '국적가진 외국인', '국적 없는 외국인', '중국', '중국(한국계)',
       '대만', '일본', '몽골', '베트남', '필리핀', '태국', '인도네시아', '캄보디아', '미얀마', '스리랑카',
       '파키스탄', '방글라데시', '네팔', '우즈베키스탄', '카자흐스탄', '러시아', '미국', '캐나다', '살인기수',
       '살인미수등', '강도', '강간', '유사강간', '강제추행', '기타 강간·강제추행등', '방화', '상해', '폭행',
       '체포・감금', '협박', '약취・유인', '폭력행위등', '공갈', '손괴'],
      dtype='object')

In [15]:
new_state_df=state_df[['행정구역별(시도)', '중국', '중국(한국계)',
                               '대만', '일본', '몽골', '베트남', '필리핀', '태국', '인도네시아', '캄보디아', '미얀마', '스리랑카',
                               '파키스탄', '방글라데시', '네팔', '우즈베키스탄', '카자흐스탄', '러시아', '미국', '캐나다' ]]
new_state_df

,행정구역별(시도),중국,중국(한국계),대만,일본,몽골,베트남,필리핀,태국,인도네시아,...,미얀마,스리랑카,파키스탄,방글라데시,네팔,우즈베키스탄,카자흐스탄,러시아,미국,캐나다
0,서울특별시,"60,560","177,339","6,436","5,918","6,774","10,010","3,901","4,096",981,...,653,330,"1,194",695,"1,016","2,549","1,460","1,623","21,956","5,672"
1,부산광역시,"10,426","4,409","1,123",857,456,"8,374","2,283","2,037","2,747",...,"1,054",934,544,324,733,"1,586",248,789,"2,118",614
2,대구광역시,"5,165","3,566",576,377,340,"5,041","1,879","1,523","1,902",...,394,"1,059","1,004",558,681,"1,350",218,271,"1,610",345
3,인천광역시,"10,272","22,383","1,919",717,"1,762","6,285","3,250","4,745","2,179",...,"1,765",854,"1,047","1,182","1,189","2,691",738,584,"2,104",608
4,광주광역시,"5,240","2,440",249,330,358,"3,494","1,133","1,486",761,...,326,490,318,151,425,"1,911",420,259,729,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,전라북도,"6,306","3,517",282,635,"1,348","10,612","1,336","6,533",925,...,845,841,250,450,"1,755","1,463",294,457,794,213
81,전라남도,"3,740","3,714",110,766,771,"10,983","1,696","7,920","2,338",...,856,"2,665",98,142,"1,920","1,398",356,499,632,151
82,경상북도,"5,904","6,508",259,629,"1,466","18,832","2,649","12,466","3,847",...,"1,199","1,789",637,616,"2,686","3,750","1,849",998,"1,418",240
83,경상남도,"6,883","11,124",230,"1,063","1,270","19,719","3,430","15,004","6,074",...,"2,096","2,930",974,809,"3,342","6,090","1,908","1,903","1,668",318
84,제주특별자치도,"7,154","3,033",292,221,420,"3,890",613,"2,917","1,812",...,228,793,79,118,"1,234",136,137,97,"1,604",288

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
sns.barplot(data=new_state_df, x="행정구역별(시도)", y="중국")
plt.show()

TypeError: Neither the `x` nor `y` variable appears to be numeric.