In [124]:
import pandas as pd
import numpy as np

year=pd.read_csv('./data/외국인 거주 연 기준.csv', encoding='cp949', sep='\t')
year

       국적별      시점        계       남자       여자
0       몽골    2013     4331     2553     1778
1       미국    2013    26622    12833    13789
2      베트남    2013    22248     7811    14437
3     스리랑카    2013     5274     5064      210
4   우즈베키스탄    2013    12333     8283     4050
..     ...     ...      ...      ...      ...
77      일본    2021     6208     1334     4874
78      중국    2021    95014    47937    47077
79      태국    2021     5194     2776     2418
80     필리핀    2021     1858      795     1063
81     NaN  163377  2596104  1302091  1294013

[82 rows x 5 columns]

## 기본 df 정보

In [125]:
year.columns

Index(['국적별', '시점', '계', '남자', '여자'], dtype='object')

In [126]:
year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적별     81 non-null     object
 1   시점      82 non-null     int64
 2   계       82 non-null     int64
 3   남자      82 non-null     int64
 4   여자      82 non-null     int64
dtypes: int64(4), object(1)
memory usage: 3.3+ KB

In [127]:
year.head()

      국적별    시점      계     남자     여자
0      몽골  2013   4331   2553   1778
1      미국  2013  26622  12833  13789
2     베트남  2013  22248   7811  14437
3    스리랑카  2013   5274   5064    210
4  우즈베키스탄  2013  12333   8283   4050

In [128]:
year.shape

(82, 5)

In [129]:
year.count()

국적별    81
시점     82
계      82
남자     82
여자     82
dtype: int64

## 시점별 범죄건수

In [130]:
#시점별 2013
y_2013=year[year['시점']==2013]
y_2013

      국적별    시점       계     남자     여자
0      몽골  2013    4331   2553   1778
1      미국  2013   26622  12833  13789
2     베트남  2013   22248   7811  14437
3    스리랑카  2013    5274   5064    210
4  우즈베키스탄  2013   12333   8283   4050
5      일본  2013    5891   2084   3807
6      중국  2013  178606  92777  85829
7      태국  2013   18335  11371   6964
8     필리핀  2013   11963   6589   5374

In [131]:
#시점별 2014
y_2014=year[year['시점']==2014]
y_2014

       국적별    시점       계     남자     여자
9       몽골  2014    3966   2150   1816
10      미국  2014   24500  11603  12897
11     베트남  2014   28012  13477  14535
12    스리랑카  2014    4836   4633    203
13  우즈베키스탄  2014   12920   8528   4392
14      일본  2014    4736   1368   3368
15      중국  2014  192858  97151  95707
16      태국  2014   48326  27422  20904
17     필리핀  2014   10717   5837   4880

In [132]:
#시점별 2015
y_2015=year[year['시점']==2015]
y_2015

       국적별    시점       계     남자     여자
18      몽골  2015    8286   4148   4138
19      미국  2015   22741  10546  12195
20     베트남  2015   30244  14099  16145
21    스리랑카  2015    5462   5250    212
22  우즈베키스탄  2015   14246   9188   5058
23      일본  2015    4589   1202   3387
24      중국  2015  177001  87569  89432
25      태국  2015   20122   9103  11019
26     필리핀  2015    9867   5532   4335

In [133]:
#시점별 2016
y_2016=year[year['시점']==2016]
y_2016

       국적별    시점       계     남자     여자
27      몽골  2016    8155   3845   4310
28      미국  2016   21771  10147  11624
29     베트남  2016   40099  19397  20702
30    스리랑카  2016    7093   6892    201
31  우즈베키스탄  2016   16151   9918   6233
32      일본  2016    4662   1225   3437
33      중국  2016  165494  81136  84358
34      태국  2016   28457  12452  16005
35     필리핀  2016    9530   5495   4035

In [134]:
#시점별 2017
y_2017=year[year['시점']==2017]
y_2017

       국적별    시점       계     남자     여자
36      몽골  2017   11781   5902   5879
37      미국  2017   19848   9095  10753
38     베트남  2017   47964  23822  24142
39    스리랑카  2017    3878   3705    173
40  우즈베키스탄  2017   18486  11833   6653
41      일본  2017    4469   1033   3436
42      중국  2017  156848  79489  77359
43      태국  2017   71506  33221  38285
44     필리핀  2017    8988   5185   3803

In [135]:
#시점별 2018
y_2018=year[year['시점']==2018]
y_2018

       국적별    시점       계     남자     여자
45      몽골  2018   10166   4957   5209
46      미국  2018   21171   9461  11710
47     베트남  2018   55992  27922  28070
48    스리랑카  2018    3913   3696    217
49  우즈베키스탄  2018   18818  12214   6604
50      일본  2018    5222   1199   4023
51      중국  2018  169336  86358  82978
52      태국  2018   80349  36886  43463
53     필리핀  2018   10053   5888   4165

In [136]:
#시점별 2019
y_2019=year[year['시점']==2019]
y_2019

       국적별    시점       계     남자     여자
54      몽골  2019    8715   4315   4400
55      미국  2019   20839   9395  11444
56     베트남  2019   61344  32214  29130
57    스리랑카  2019    4052   3869    183
58  우즈베키스탄  2019   25961  16298   9663
59      일본  2019    5058   1039   4019
60      중국  2019  138653  66759  71894
61      태국  2019   53290  20325  32965
62     필리핀  2019    9149   5516   3633

In [137]:
#시점별 2020
y_2020=year[year['시점']==2020]
y_2020

       국적별    시점      계     남자     여자
63      몽골  2020   7122   3214   3908
64      미국  2020  21296  10088  11208
65     베트남  2020  28005  10720  17285
66    스리랑카  2020   1188   1091     97
67  우즈베키스탄  2020   8012   5113   2899
68      일본  2020   4546   1332   3214
69      중국  2020  96256  48167  48089
70      태국  2020   8693   2230   6463
71     필리핀  2020   2939   1262   1677

In [138]:
#시점별 2021
y_2021=year[year['시점']==2021]
y_2021

       국적별    시점      계     남자     여자
72      몽골  2021   3884   1619   2265
73      미국  2021  17564   7038  10526
74     베트남  2021  17462   7955   9507
75    스리랑카  2021   1439   1313    126
76  우즈베키스탄  2021  13131   7833   5298
77      일본  2021   6208   1334   4874
78      중국  2021  95014  47937  47077
79      태국  2021   5194   2776   2418
80     필리핀  2021   1858    795   1063

## 국적별, 시점 에 대한 총 범죄건수

In [139]:
year.loc[0:, '국적별':'계']

       국적별      시점        계
0       몽골    2013     4331
1       미국    2013    26622
2      베트남    2013    22248
3     스리랑카    2013     5274
4   우즈베키스탄    2013    12333
..     ...     ...      ...
77      일본    2021     6208
78      중국    2021    95014
79      태국    2021     5194
80     필리핀    2021     1858
81     NaN  163377  2596104

[82 rows x 3 columns]

# 범죄건수가 많은 국가별로 정렬

In [140]:
#2014년
y_2014.sort_values(by='계', ascending=False)

       국적별    시점       계     남자     여자
15      중국  2014  192858  97151  95707
16      태국  2014   48326  27422  20904
11     베트남  2014   28012  13477  14535
10      미국  2014   24500  11603  12897
13  우즈베키스탄  2014   12920   8528   4392
17     필리핀  2014   10717   5837   4880
12    스리랑카  2014    4836   4633    203
14      일본  2014    4736   1368   3368
9       몽골  2014    3966   2150   1816

In [141]:
#2015년
y_2015.sort_values(by='계', ascending=False)

       국적별    시점       계     남자     여자
24      중국  2015  177001  87569  89432
20     베트남  2015   30244  14099  16145
19      미국  2015   22741  10546  12195
25      태국  2015   20122   9103  11019
22  우즈베키스탄  2015   14246   9188   5058
26     필리핀  2015    9867   5532   4335
18      몽골  2015    8286   4148   4138
21    스리랑카  2015    5462   5250    212
23      일본  2015    4589   1202   3387

In [142]:
#2016년
y_2016.sort_values(by='계', ascending=False)

       국적별    시점       계     남자     여자
33      중국  2016  165494  81136  84358
29     베트남  2016   40099  19397  20702
34      태국  2016   28457  12452  16005
28      미국  2016   21771  10147  11624
31  우즈베키스탄  2016   16151   9918   6233
35     필리핀  2016    9530   5495   4035
27      몽골  2016    8155   3845   4310
30    스리랑카  2016    7093   6892    201
32      일본  2016    4662   1225   3437

In [143]:
#2017년
y_2017.sort_values(by='계', ascending=False)

       국적별    시점       계     남자     여자
42      중국  2017  156848  79489  77359
43      태국  2017   71506  33221  38285
38     베트남  2017   47964  23822  24142
37      미국  2017   19848   9095  10753
40  우즈베키스탄  2017   18486  11833   6653
36      몽골  2017   11781   5902   5879
44     필리핀  2017    8988   5185   3803
41      일본  2017    4469   1033   3436
39    스리랑카  2017    3878   3705    173

In [144]:
#2018년
y_2018.sort_values(by='계', ascending=False)

       국적별    시점       계     남자     여자
51      중국  2018  169336  86358  82978
52      태국  2018   80349  36886  43463
47     베트남  2018   55992  27922  28070
46      미국  2018   21171   9461  11710
49  우즈베키스탄  2018   18818  12214   6604
45      몽골  2018   10166   4957   5209
53     필리핀  2018   10053   5888   4165
50      일본  2018    5222   1199   4023
48    스리랑카  2018    3913   3696    217

In [145]:
#2019년
y_2019.sort_values(by='계', ascending=False)

       국적별    시점       계     남자     여자
60      중국  2019  138653  66759  71894
56     베트남  2019   61344  32214  29130
61      태국  2019   53290  20325  32965
58  우즈베키스탄  2019   25961  16298   9663
55      미국  2019   20839   9395  11444
62     필리핀  2019    9149   5516   3633
54      몽골  2019    8715   4315   4400
59      일본  2019    5058   1039   4019
57    스리랑카  2019    4052   3869    183

In [146]:
#2020년
y_2020.sort_values(by='계', ascending=False)

       국적별    시점      계     남자     여자
69      중국  2020  96256  48167  48089
65     베트남  2020  28005  10720  17285
64      미국  2020  21296  10088  11208
70      태국  2020   8693   2230   6463
67  우즈베키스탄  2020   8012   5113   2899
63      몽골  2020   7122   3214   3908
68      일본  2020   4546   1332   3214
71     필리핀  2020   2939   1262   1677
66    스리랑카  2020   1188   1091     97

In [147]:
#2021년
y_2021.sort_values(by='계', ascending=False)

       국적별    시점      계     남자     여자
78      중국  2021  95014  47937  47077
73      미국  2021  17564   7038  10526
74     베트남  2021  17462   7955   9507
76  우즈베키스탄  2021  13131   7833   5298
77      일본  2021   6208   1334   4874
79      태국  2021   5194   2776   2418
72      몽골  2021   3884   1619   2265
80     필리핀  2021   1858    795   1063
75    스리랑카  2021   1439   1313    126

## 연도별 범죄 평균

In [148]:
y_mean=y_2014.mean(), y_2015.mean(), y_2016.mean(), y_2017.mean(),y_2018.mean(),y_2019.mean(),y_2020.mean(),y_2021.mean()
print('연도별 범죄 평균: ', y_mean)

연도별 범죄 평균:  (시점     2014.000000
계     36763.444444
남자    19129.888889
여자    17633.555556
dtype: float64, 시점     2015.000000
계     32506.444444
남자    16293.000000
여자    16213.444444
dtype: float64, 시점     2016.000000
계     33490.222222
남자    16723.000000
여자    16767.222222
dtype: float64, 시점     2017.000000
계     38196.444444
남자    19253.888889
여자    18942.555556
dtype: float64, 시점     2018.000000
계     41668.888889
남자    20953.444444
여자    20715.444444
dtype: float64, 시점     2019.000000
계     36340.111111
남자    17747.777778
여자    18592.333333
dtype: float64, 시점     2020.000000
계     19784.111111
남자     9246.333333
여자    10537.777778
dtype: float64, 시점     2021.000000
계     17972.666667
남자     8733.333333
여자     9239.333333
dtype: float64)

C:\Users\jpc10\AppData\Local\Temp\ipykernel_19984\115555394.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  y_mean=y_2014.mean(), y_2015.mean(), y_2016.mean(), y_2017.mean(),y_2018.mean(),y_2019.mean(),y_2020.mean(),y_2021.mean()