In [34]:
import pandas as pd
import numpy as np

In [42]:
place_pd=pd.read_csv('./data/성_및_연령별_외국인시도.csv', encoding='cp949')
place_pd

,행정구역별(시도),성별,2015,2015.1,2015.2,2015.3,2015.4,2015.5,2015.6,2015.7,...,2020.7,2020.8,2020.9,2020.10,2020.11,2020.12,2020.13,2020.14,2020.15,2020.16
0,행정구역별(시도),성별,외국인,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,...,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75세 이상
1,전국,계,1363712,23273,14901,9432,23534,145172,237392,200576,...,268499,211257,148367,130370,126371,118725,90080,48414,18137,15184
2,전국,남자,788663,11885,7683,4868,10961,78919,147001,131891,...,162583,128536,88112,72431,65035,58159,43433,22654,7629,4444
3,전국,여자,575049,11388,7218,4564,12573,66253,90391,68685,...,105916,82721,60255,57939,61336,60566,46647,25760,10508,10740
4,읍부,계,149105,1576,978,583,1694,17798,30447,26651,...,39128,30575,19934,15349,13378,10456,6889,3416,1432,1162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,경상남도,남자,64330,534,351,199,310,7200,16387,14613,...,14372,10996,6412,4280,2987,2062,1200,505,212,143
60,경상남도,여자,26031,503,341,195,383,3389,5114,3647,...,5772,4392,3039,2669,2413,1997,1175,613,274,260
61,제주특별자치도,계,15146,255,204,147,423,2502,3218,2429,...,4840,3917,2811,1858,1271,957,710,423,201,145
62,제주특별자치도,남자,8914,128,104,67,227,1472,1878,1560,...,2813,2245,1427,958,633,443,319,202,99,70
63,제주특별자치도,여자,6232,127,100,80,196,1030,1340,869,...,2027,1672,1384,900,638,514,391,221,102,75

In [36]:
place_pd1=place_pd[13:]
place_pd1

,행정구역별(시도),성별,2015,2015.1,2015.2,2015.3,2015.4,2015.5,2015.6,2015.7,...,2020.7,2020.8,2020.9,2020.10,2020.11,2020.12,2020.13,2020.14,2020.15,2020.16
13,서울특별시,계,337116,7535,5330,3654,8057,30745,43304,33491,...,42250,33479,26878,29520,34148,37548,30681,16380,5699,4870
14,서울특별시,남자,165218,3898,2791,1912,3396,11734,20691,17597,...,20499,17349,14539,15752,17287,18361,14830,7841,2430,1368
15,서울특별시,여자,171898,3637,2539,1742,4661,19011,22613,15894,...,21751,16130,12339,13768,16861,19187,15851,8539,3269,3502
16,부산광역시,계,44070,521,475,415,1288,7464,9012,6921,...,9319,7225,4808,3664,2811,1992,1500,851,343,328
17,부산광역시,남자,26008,265,238,214,586,3687,5622,4832,...,5540,4406,2811,2026,1386,940,688,393,158,125
18,부산광역시,여자,18062,256,237,201,702,3777,3390,2089,...,3779,2819,1997,1638,1425,1052,812,458,185,203
19,대구광역시,계,29282,370,294,187,606,4206,6308,4843,...,6424,4957,3284,2599,2070,1499,913,518,212,211
20,대구광역시,남자,17292,168,146,89,263,2279,3774,3208,...,3555,2790,1808,1405,1022,699,410,226,84,78
21,대구광역시,여자,11990,202,148,98,343,1927,2534,1635,...,2869,2167,1476,1194,1048,800,503,292,128,133
22,인천광역시,계,67850,1311,897,616,1253,5715,11265,11293,...,16175,13244,9021,7587,6939,6641,5375,3168,1213,1144
23,인천광역시,남자,40224,660,469,309,589,3267,7243,7636,...,9631,8093,5343,4176,3530,3151,2546,1410,495,317
24,인천광역시,여자,27626,651,428,307,664,2448,4022,3657,...,6544,5151,3678,3411,3409,3490,2829,1758,718,827
25,광주광역시,계,21592,286,208,143,559,4008,4577,3197,...,4844,3588,2497,2134,1662,1250,739,360,145,122
26,광주광역시,남자,12211,142,110,73,284,2004,2721,2057,...,2690,1963,1359,1082,799,569,351,154,55,43
27,광주광역시,여자,9381,144,98,70,275,2004,1856,1140,...,2154,1625,1138,1052,863,681,388,206,90,79
28,대전광역시,계,19080,407,265,191,927,4374,3454,2270,...,3412,2397,1755,1454,1333,1041,725,436,183,144
29,대전광역시,남자,8933,205,132,102,464,1747,1542,1124,...,1574,1062,785,654,604,445,328,190,73,60
30,대전광역시,여자,10147,202,133,89,463,2627,1912,1146,...,1838,1335,970,800,729,596,397,246,110,84
31,울산광역시,계,29860,631,333,146,427,2518,5362,4826,...,4486,3402,2544,2419,2455,1940,1134,574,224,225
32,울산광역시,남자,19321,336,173,63,237,1562,3669,3516,...,2791,2127,1544,1383,1392,1073,616,278,79,67
33,울산광역시,여자,10539,295,160,83,190,956,1693,1310,...,1695,1275,1000,1036,1063,867,518,296,145,158
34,세종특별자치시,계,4471,52,42,18,127,572,891,739,...,1187,940,588,481,428,365,259,129,51,29
35,세종특별자치시,남자,2755,31,16,11,63,332,609,479,...,766,571,334,278,243,183,138,72,23,10
36,세종특별자치시,여자,1716,21,26,7,64,240,282,260,...,421,369,254,203,185,182,121,57,28,19
37,경기도,계,452632,8468,4549,2532,5050,36761,76456,70227,...,94490,76278,53379,47438,47549,45444,35208,19290,7153,5743
38,경기도,남자,269861,4285,2351,1311,2622,23551,49759,46564,...,60025,48026,32929,26995,24973,22525,16996,8951,2989,1597
39,경기도,여자,182771,4183,2198,1221,2428,13210,26697,23663,...,34465,28252,20450,20443,22576,22919,18212,10339,4164,4146
40,강원도,계,18306,181,171,105,454,3105,3537,2684,...,3973,3008,2068,1637,1491,1167,854,433,210,202
41,강원도,남자,9640,100,77,53,194,1562,1911,1574,...,2170,1605,1066,750,617,466,366,207,94,76
42,강원도,여자,8666,81,94,52,260,1543,1626,1110,...,1803,1403,1002,887,874,701,488,226,116,126
43,충청북도,계,40758,361,287,214,645,4958,7793,6460,...,9984,7626,5218,4225,3930,3257,2215,1086,421,316
44,충청북도,남자,25416,185,146,107,314,2841,5087,4458,...,6433,4930,3250,2375,2141,1740,1152,559,178,80
45,충청북도,여자,15342,176,141,107,331,2117,2706,2002,...,3551,2696,1968,1850,1789,1517,1063,527,243,236
46,충청남도,계,71082,794,426,255,1147,8954,13553,11759,...,17095,13670,9617,7946,6473,5319,3502,1810,720,626
47,충청남도,남자,44171,435,223,129,513,4996,8777,8187,...,10990,8702,6018,4693,3459,2682,1705,839,286,193
48,충청남도,여자,26911,359,203,126,634,3958,4776,3572,...,6105,4968,3599,3253,3014,2637,1797,971,434,433
49,전라북도,계,29930,306,221,159,521,4874,6255,4668,...,7136,5096,3432,2547,2235,1762,1165,531,282,219
50,전라북도,남자,16421,162,105,83,256,2396,3679,2909,...,4112,2776,1770,1174,968,745,523,244,114,78
51,전라북도,여자,13509,144,116,76,265,2478,2576,1759,...,3024,2320,1662,1373,1267,1017,642,287,168,141
52,전라남도,계,34611,218,163,99,398,5315,7804,5765,...,8738,6447,4124,3093,2517,1914,1155,535,218,181
53,전라남도,남자,21107,105,78,54,185,3173,4981,3945,...,5725,4074,2441,1653,1136,804,535,236,105,55
54,전라남도,여자,13504,113,85,45,213,2142,2823,1820,...,3013,2373,1683,1440,1381,1110,620,299,113,126
55,경상북도,계,57565,540,344,157,959,8512,13102,10744,...,14002,10595,6892,4819,3659,2570,1570,772,376,276
56,경상북도,남자,36841,246,173,92,458,5116,8671,7632,...,8897,6821,4276,2797,1858,1271,730,347,155,84
57,경상북도,여자,20724,294,171,65,501,3396,4431,3112,...,5105,3774,2616,2022,1801,1299,840,425,221,192
58,경상남도,계,90361,1037,692,394,693,10589,21501,18260,...,20144,15388,9451,6949,5400,4059,2375,1118,486,403
59,경상남도,남자,64330,534,351,199,310,7200,16387,14613,...,14372,10996,6412,4280,2987,2062,1200,505,212,143
60,경상남도,여자,26031,503,341,195,383,3389,5114,3647,...,5772,4392,3039,2669,2413,1997,1175,613,274,260
61,제주특별자치도,계,15146,255,204,147,423,2502,3218,2429,...,4840,3917,2811,1858,1271,957,710,423,201,145
62,제주특별자치도,남자,8914,128,104,67,227,1472,1878,1560,...,2813,2245,1427,958,633,443,319,202,99,70
63,제주특별자치도,여자,6232,127,100,80,196,1030,1340,869,...,2027,1672,1384,900,638,514,391,221,102,75

In [37]:
place_df=place_pd1[['행정구역별(시도)','성별','2015','2016','2017', '2018', '2019', '2020']]
place_df

   행정구역별(시도)  성별    2015    2016    2017    2018    2019    2020
13     서울특별시   계  337116  335167  343927  374425  390177  366454
14     서울특별시  남자  165218  162741  165249  182420  189562  173390
15     서울특별시  여자  171898  172426  178678  192005  200615  193064
16     부산광역시   계   44070   46168   48808   55506   60502   54914
17     부산광역시  남자   26008   26920   28130   31621   34021   29874
18     부산광역시  여자   18062   19248   20678   23885   26481   25040
19     대구광역시   계   29282   30492   31365   35280   40092   37398
20     대구광역시  남자   17292   17948   18112   19839   22181   19646
21     대구광역시  여자   11990   12544   13253   15441   17911   17752
22     인천광역시   계   67850   71873   79170   88489  100174   99212
23     인천광역시  남자   40224   41959   45773   50742   56990   54688
24     인천광역시  여자   27626   29914   33397   37747   43184   44524
25     광주광역시   계   21592   23701   26052   29833   33286   30573
26     광주광역시  남자   12211   13211   14532   16601   18348   16308
27     광주광역시  여자    9381   10490   11520   13232   14938   14265
28     대전광역시   계   19080   19687   20534   22858   25147   22928
29     대전광역시  남자    8933    9222    9703   10959   12064   10497
30     대전광역시  여자   10147   10465   10831   11899   13083   12431
31     울산광역시   계   29860   28792   26601   27162   28604   26895
32     울산광역시  남자   19321   18160   16354   16532   17419   15847
33     울산광역시  여자   10539   10632   10247   10630   11185   11048
34   세종특별자치시   계    4471    4835    5290    6486    7829    7244
35   세종특별자치시  남자    2755    2883    3130    3887    4860    4398
36   세종특별자치시  여자    1716    1952    2160    2599    2969    2846
37       경기도   계  452632  472699  497089  558197  594795  583462
38       경기도  남자  269861  282365  295967  333260  355254  338649
39       경기도  여자  182771  190334  201122  224937  239541  244813
40       강원도   계   18306   19364   20996   24149   27008   24654
41       강원도  남자    9640   10339   11279   13077   14619   12843
42       강원도  여자    8666    9025    9717   11072   12389   11811
43      충청북도   계   40758   44901   48237   54835   59783   57094
44      충청북도  남자   25416   28225   30178   34279   37021   34651
45      충청북도  여자   15342   16676   18059   20556   22762   22443
46      충청남도   계   71082   77533   84752   95838  104018   99166
47      충청남도  남자   44171   48042   52102   58511   63093   58706
48      충청남도  여자   26911   29491   32650   37327   40925   40460
49      전라북도   계   29930   31549   33764   39131   43960   42366
50      전라북도  남자   16421   17261   18246   21151   24077   22607
51      전라북도  여자   13509   14288   15518   17980   19883   19759
52      전라남도   계   34611   36630   37212   42520   47778   45236
53      전라남도  남자   21107   22401   22540   26005   29743   27549
54      전라남도  여자   13504   14229   14672   16515   18035   17687
55      경상북도   계   57565   60706   63978   74071   81840   74547
56      경상북도  남자   36841   38701   40166   45955   50448   44685
57      경상북도  여자   20724   22005   23812   28116   31392   29862
58      경상남도   계   90361   92185   91072   97494  105908   96669
59      경상남도  남자   64330   64895   62550   65918   71212   63112
60      경상남도  여자   26031   27290   28522   31576   34696   33557
61   제주특별자치도   계   15146   17476   20400   25287   28017   26831
62   제주특별자치도  남자    8914   10194   11652   14884   16496   15169
63   제주특별자치도  여자    6232    7282    8748   10403   11521   11662

In [38]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score as acc_sc

In [39]:
place_df.isna().sum()

행정구역별(시도)    0
성별           0
2015         0
2016         0
2017         0
2018         0
2019         0
2020         0
dtype: int64

In [41]:
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

le=LabelEncoder()
place_df['행정구역별(시도)']=le.fit_transform(place_df['행정구역별(시도)'])
place_df.T

,13,14,15,16,17,18,19,20,21,22,...,54,55,56,57,58,59,60,61,62,63
행정구역별(시도),8,8,8,7,7,7,5,5,5,11,...,12,3,3,3,2,2,2,14,14,14
성별,계,남자,여자,계,남자,여자,계,남자,여자,계,...,여자,계,남자,여자,계,남자,여자,계,남자,여자
2015,337116,165218,171898,44070,26008,18062,29282,17292,11990,67850,...,13504,57565,36841,20724,90361,64330,26031,15146,8914,6232
2016,335167,162741,172426,46168,26920,19248,30492,17948,12544,71873,...,14229,60706,38701,22005,92185,64895,27290,17476,10194,7282
2017,343927,165249,178678,48808,28130,20678,31365,18112,13253,79170,...,14672,63978,40166,23812,91072,62550,28522,20400,11652,8748
2018,374425,182420,192005,55506,31621,23885,35280,19839,15441,88489,...,16515,74071,45955,28116,97494,65918,31576,25287,14884,10403
2019,390177,189562,200615,60502,34021,26481,40092,22181,17911,100174,...,18035,81840,50448,31392,105908,71212,34696,28017,16496,11521
2020,366454,173390,193064,54914,29874,25040,37398,19646,17752,99212,...,17687,74547,44685,29862,96669,63112,33557,26831,15169,11662